<div class="mt-8">
  <form action="/admin/settings" method="post">
    <input type="hidden" name="_method" id="_method" value="put">

    <div>
      <label for="site_name">Site name</label>
      <input type="hidden" name="site_settings[][key]" id="site_settings__key" value="site.title">
      <input type="text" name="site_settings[][value]" class="block w-full border-b" id="site_name" value="<%= @settings["site.title"] %>">
      <% if @errors["site.title"] %>
        <small class="text-danger block italic"><%= @errors["site.title"] %></small>
      <% end %>
    </div>

    <input type="submit" name="commit" value="Save" class="btn--primary mt-4">
  </form>
</div>
