<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/css/main.css?id=<%= deployment_id %>">
  <title><%= @site["title"] %></title>
</head>
<body>
  <main class="container px-4 pb-16">
    <h1><%= site_settings["site.title"] %></h1>
    <nav class="leading-loose">
      <a class="inline-block mr-2" href="/admin/posts">Posts</a>
      <a class="inline-block mr-2" href="/admin/pages">Pages</a>
      <a class="inline-block mr-2" href="/admin/stats">Stats</a>
      <a class="inline-block mr-2" href="/admin/navlinks">Navlinks</a>
      <a class="inline-block mr-2" href="/admin/settings">Settings</a>
      <a class="inline-block mr-2" target="_blank" href="/">View Blog</a>
    </nav>
    <%= yield %>
  </main>
</body>
</html>
