<article class="mt-8">
  <% if @show_date %>
    <small class="text-gray"><%= DateTime.parse(@post["published_at"]).strftime("%b %d, %Y") %></small>
  <% end %>
  <h1 class="mt-2"><%= @post["title"] %></h1>
  <%= render_html @post["content"] %>
</article>
